<div class="entrypoint">
    <img src="assets/close-btn.svg" alt="close" height="20" width="20" (click)="closeDialog()">

    <div>
        <h1>Welcome to PolyDraw!</h1>
        <h2>
            Let your creativity flourish on the canvas with the best tools at your disposal.
        </h2>
        <h3>
            Need help? Checkout our <a href="assets/userGuide.pdf" target="_blank">User Guide</a> to help you getting
            started.
        </h3>
    </div>

    <div>
        <label (click)="toggleHideDialog()">
            <input type="checkbox"><mat-checkbox>Do not show again</mat-checkbox>
            <mat-checkbox>Check me!</mat-checkbox>
        </label>
    </div>
</div>