<div class=color-wrapper>
  <app-color-palette [hue]="hue" (color)="color = $event"></app-color-palette>
  <app-color-slider (color)="hue=$event" style="margin-left:5%"></app-color-slider>
</div>
<div class="input-wrapper">
  <div>
    <sub>0x</sub>
  </div>
  <input class="text" type="text" #box (keyup.enter)="onEnterHex(box.value)" value={{colorHex}}>
  <div (click)="setPrimary()" class="color-div" [ngStyle]="{'background-color': colorService.getFillColor() || 'white'}"></div>
  <div (click)="setSecondary()" class="color-div" [ngStyle]="{'background-color': colorService.getStrokeColor() || 'white'}"></div>
</div>
<p>Transparency: {{transparencyString}}</p> 
<div class="slidecontainer">
    <input type="range" #slider min="0" max="255" value={{transparency}} class="slider" id="myRange" (change)="onEnterSlider(slider.value)">
  </div>
  
<button (click)="changeBackgroundColor()">Change background color</button>
<button (click)="swapColors()">Swap Colors</button>



