:host {
  display: block;
  padding: 0%;
}
.color-wrapper {
  display: flex;
  height: 150px;
  width: 217px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
}

.input-wrapper {
  background-color: white;
  margin-top: 16px;
  display: flex;
  width: 73%;
  border-radius: 80px;
  border: 1px solid rgb(220, 220, 220);
  padding: 8px;
  height: 32px;
  justify-content: center;
}

.lastTen1 {
  display: flex;
  width: 94%;
  border: 1px lightgray;
  padding: 8px;
  padding-top: 0px;
  height: 32px;
  justify-content: center;
}

.lastTen2 {
  display: flex;
  width: 94%;
  border: 1px lightgray;
  padding: 8px;
  height: 32px;
  margin-top: -3%;
  justify-content: center;
}
.color-div {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgb(220, 220, 220);
}

.text {
  flex: 1;
  font-family: 'Helvetica';
  line-height: 32px;
  width: 35%,
}

.secondary {
  width: 80px;
  height: 80px;
  border-radius: 5%;
  border: 1px solid rgb(220, 220, 220);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 1px;
}

.primary {
  width: 80px;
  height: 80px;
  border-radius: 5%;
  border: 1px solid rgb(220, 220, 220);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 1px;
}

.slidecontainer {
  margin-left: 10px;
  color:red;
  font-weight: 20;
}

.changeButton {
  margin-inline-start: 0%;
}

.dynamicValue{
  color:red;
  font-weight: 20;
}

.sectionHeader{
  font-size:25px;
  font-weight: 500;
}

app-color-slider {
  margin-left:5%;
}

.attribute {
  border: 2px solid rgb(250, 250, 250);
  background-color: rgb(250, 250, 250);
  margin: 5px;
  border-radius: 5px;
}

.attributeHeader{
  font-size:20px;
  margin: 5px;
  text-align: center;
}

.primSec-wrapper {
  display: flex;
}

.color {
  margin: 5px;
  padding-top: 1px;
  height: 130px;
  flex: 1;
  border-radius: 5px;

}

.color-selected {
  margin: 5px;
  padding-top: 1px;
  height: 130px;
  flex: 1;
  border-radius: 5px;
  background-color: rgb(220, 220, 220);
}

.button {
  text-align: center;
}

button {
  margin: 5px;
}

.mat-slider-horizontal {
  margin-left: 7px;
  height: 45px;
  width: calc(100% - 13px);
}

.form-field {
  text-align: center;
}

.type-flexbox {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}

.type-box {
  flex: 6;
}

.type {
  border-radius: 5px;
  background-color: rgb(220, 220, 220);
  width: 28px;
  height: 26px;
  text-align: center;
  flex: 6;
}
