<div class="header">Pen</div>

<div>

    <div class="svg">
        <svg class="lineStyleRound" width="200" height="100">
            <line x1="20" y1="50" x2="180" y2="50" [style.stroke]="this.colorService.getFillColor()"
                stroke-width="20" />
        </svg>
    </div>

    <div class="attribute">
        <div class="attributeHeader">
            Maximum Size: {{this.penService.maxStrokeWidth}} px <br>
        </div>
        <div>
            <mat-slider min={{this.penService.minStrokeWidth}} max="40" value={{this.penService.maxStrokeWidth}}
                [(ngModel)]="this.penService.maxStrokeWidth"
                (input)="this.penService.maxStrokeWidth = $event.value">
            </mat-slider>
        </div>
        <div class="attributeHeader">
            Minimum Size: {{this.penService.minStrokeWidth}} px<br>
        </div>
        <div>
            <mat-slider min="1" max={{this.penService.maxStrokeWidth}} value={{this.penService.minStrokeWidth}}
                [(ngModel)]="this.penService.minStrokeWidth"
                (input)="this.penService.minStrokeWidth = $event.value">
            </mat-slider>
        </div>
    </div>

</div>