<div class="header">Pen</div>

<div>

    <div class="svg">
        <svg class="lineStyleRound" width="200" height="100">
            <line x1="20" y1="50" x2="45" y2="50" [style.stroke]="this.colorService.getFillColor()" [attr.stroke-width]="this.penService.minStrokeWidth" />
            <line x1="45" y1="50" x2="90" y2="50" [style.stroke]="this.colorService.getFillColor()" [attr.stroke-width]="secondStrokeSize" />
            <line x1="90" y1="50" x2="135" y2="50" [style.stroke]="this.colorService.getFillColor()" [attr.stroke-width]="thirdStrokeSize" />
            <line x1="135" y1="50" x2="180" y2="50" [style.stroke]="this.colorService.getFillColor()" [attr.stroke-width]="this.penService.maxStrokeWidth" />
        </svg>
    </div>

    <div class="attribute">
        <div class="attributeHeader">
            Maximum Size: {{this.penService.maxStrokeWidth}} px <br>
        </div>
        <div>
            <mat-slider min="1" max="40" value={{this.penService.maxStrokeWidth}}
                [(ngModel)]="this.penService.maxStrokeWidth"
                (input)="this.penService.maxStrokeWidth = $event.value; validateStrokes();">
            </mat-slider>
        </div>
        <div class="attributeHeader">
            Minimum Size: {{this.penService.minStrokeWidth}} px<br>
        </div>
        <div>
            <mat-slider min="1" max="40" value={{this.penService.minStrokeWidth}}
                [(ngModel)]="this.penService.minStrokeWidth"
                (input)="this.penService.minStrokeWidth = $event.value; validateStrokes();">
            </mat-slider>
        </div>
    </div>

</div>