.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.modal {
    text-align: center;
    height: 200px;
}

mat-icon {
    cursor: pointer;
}

label {
    cursor: pointer;
}

.confirm {
    background-color: rgb(230, 230, 230);
}