<div class="header">Pencil</div>

<div>

    <div class="svg">
        <svg class="lineStyleRound" width="200" height="100">
            <line x1="20" y1="50" x2="180" y2="50" [style.stroke]="this.colorService.getFillColor()"
                [style.stroke-width]="this.pencilService.strokeWidth" />
        </svg>
    </div>

    <div class="attribute">
        <div class="attributeHeader">
            Size: {{this.pencilService.strokeWidth}} px<br>
        </div>

        <div>
            <mat-slider min="1" max="40" value={{this.pencilService.strokeWidth}}
                [(ngModel)]="this.pencilService.strokeWidth"
                (input)="this.pencilService.strokeWidth = $event.value">
            </mat-slider>
        </div>
    </div>

</div>