<mat-icon (click)="closeModalWindow()">clear</mat-icon>
<div class="modalWindow">

  <h2>Save master piece to server </h2>

  <form (ngSubmit)="submitDrawing()" [formGroup]="form">
    <div mat-dialog-content>
      <div class="field">
        <div class="control">
          <mat-form-field class="input">
            <input placeholder="Baptize creation" name="test" type="name" formControlName="name"
              value={{this.inputService.drawingName}} matInput [(ngModel)]="this.inputService.drawingName">
            <mat-error>Minimum one character for the name</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <mat-form-field class="input">
      <mat-chip-list #chipList aria-label="Tags selection">
        <mat-chip *ngFor="let tag of this.inputService.drawingTags" (removed)="removeTag(tag)">
          {{tag}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input formControlName="tag" placeholder="Add tags" [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="this.separatorKeysCodes" (matChipInputTokenEnd)="addTag($event)">
      </mat-chip-list>
    </mat-form-field>

    <div class="submit" mat-dialog-actions>

      <div *ngIf="this.communicationService.enableSubmit && this.inputService.drawingName.length > 0">
        <button type="submit" mat-stroked-button>submit</button>
      </div>

      <div *ngIf="!this.communicationService.enableSubmit || this.inputService.drawingName.length === 0">
        <button type="submit" mat-stroked-button disabled>submit</button>
      </div>


    </div>
  </form>

</div>