
<div class = "modalWindow">
   
  <h1>Save master piece to server </h1>
  
  <p>Enter drawing tags</p>
  <mat-form-field>
    <input matInput type = "tags" value ={{this.currentTag}} [(ngModel)]="currentTag">
  </mat-form-field>
  <button mat-stroked-button (click) = "addTag()">Add current tag</button><br>
  
  
  <div *ngFor = " let tag of inputService.drawingTags; let i = index">
    {{ tag }} <button (click) = 'deleteTag(tag)'>Delete Tag</button>
  </div>

  <form (ngSubmit)="submitDrawing()" [formGroup]="form">
      <div mat-dialog-content>
          <p>Enter name </p>
          <div class="field"> 
          <div class="control">
          <mat-form-field>
            <input name="test" type = "name"  formControlName="name" value ={{this.inputService.drawingName}} matInput [(ngModel)]="this.inputService.drawingName" >
            <mat-error>Enter string longer than 0</mat-error>
          </mat-form-field>
         </div>
        </div> 
       
      </div>
      
      <div class ="submit"  mat-dialog-actions>
          <button type="submit" mat-stroked-button cdkFocusInitial >submit</button> 
      </div> 
      </form>
      <button mat-stroked-button (click) = 'closeModalWindow()'>close</button><br>
</div>
