.modalWindow{
    overflow-x: hidden;
    overflow-y: auto;
    width: 600px;
    text-align: center;
}

.field {
    overflow-x: hidden;  
}



.submit {
    margin:auto;
    display:block;
    text-align:center;
    }

mat-icon {
    cursor: pointer;
}

.input {
    width: 80%;
}

