div,html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: scroll;
}

.drawingBoard {
    position: fixed;
    background: #adadad;
    width: 100%;
    height: 100%;
    left: 26%;
}


