<div class="drawingBoard">
    <svg version="1.1"
    baseProfile="full"
    [attr.width]="this.canvasWidth" [attr.height]="this.canvasHeight"
    xmlns="http://www.w3.org/2000/svg">
    
    <g *ngFor="let shape of this.shapeService.shapes" (click)="onClick($event, shape)" (contextmenu)="onContextMenu($event, shape)">
        <rect [attr.x]="shape.x" 
        [attr.y]="shape.y" 
        [attr.width]="shape.width" 
        [attr.height]="shape.height" 
        [style.fill]="shape.fill"
        [style.stroke]="shape.stroke"
        [style.stroke-width]="shape.strokeWidth"/>
    </g>
    
    <rect *ngIf="this.previewActive"
    [attr.x]="this.preview.x" 
    [attr.y]="this.preview.y" 
    [attr.width]="this.preview.width" 
    [attr.height]="this.preview.height" 
    [style.fill]="this.colorService.getFillColor()"
    [style.stroke]="this.stroke"
    [style.stroke-width]="this.strokeWidth"/>
    
</svg>

<button onclick="changeBackgroundColor()">Change Background Color</button>
</div>



