<div class="header">Grid</div>

<div>

    <div class="svgGrid">
        <svg width="200" height="200">
            <rect [attr.x]="100 - this.gridService.gridSize/2" [attr.y]="100 - this.gridService.gridSize/2"
                [attr.width]="this.gridService.gridSize" [attr.height]="this.gridService.gridSize"
                fill="none" stroke="red" stroke-width="1" />
        </svg>
    </div>

    <div class="attribute">
        <div class="attributeHeader">
            Grid size: {{this.gridService.gridSize}} <br>
        </div>
        <mat-slider class="inputFormStyle" type="range" #slider min="40" max="200"
            value={{this.gridService.gridSize}} [(ngModel)]="this.gridService.gridSize"
            (input)="this.gridService.gridSize = $event.value; applyGrid(); showGrid()">
        </mat-slider>
        <div class="attributeHeader">
            Toggle Grid<br>
            <mat-slide-toggle [checked]="usingGrid" (change)="onGridToggle($event.checked)">
            </mat-slide-toggle>
        </div>
    </div>

    <div class="attribute">
        <div class="attributeHeader">
            Opacity: {{this.gridService.opacity}} % <br>
        </div>
        <div class="button">
            <mat-slider min="25" max="100" value={{this.gridService.opacity}}
                [(ngModel)]="this.gridService.opacity" (input)="this.gridService.opacity = $event.value; applyGrid(); showGrid()">
            </mat-slider>
        </div>
    </div>
</div>