<div class="header">Polygon</div>
<div class="singleAttribute">

    <div class="sectionHeader">
        Stroke:
    </div>

    <div>
        <svg width="200" height="120">
            <polygon *ngIf="this.polygonService.strokeEnable && this.polygonService.fillEnable"
            points="130,20 170,40 170,80 130,100 90,80 90,40"
            [style.fill]="this.colorService.getFillColor()"
                [style.stroke]="this.colorService.getStrokeColor()"
                [style.stroke-width]="this.polygonService.strokeWidth" />

            <polygon *ngIf="!this.polygonService.strokeEnable && this.polygonService.fillEnable"
                id="rectangleNoStroke"
                points="130,20 170,40 170,80 130,100 90,80 90,40"
                [style.fill]="this.colorService.getFillColor()"
                [style.stroke-width]="this.polygonService.strokeWidth" />

            <polygon *ngIf="this.polygonService.strokeEnable && !this.polygonService.fillEnable"
                id="rectangleNoFill"
                points="130,20 170,40 170,80 130,100 90,80 90,40"
                [style.stroke]="this.colorService.getStrokeColor()"
                [style.stroke-width]="this.polygonService.strokeWidth" />
        </svg>
    </div>


    <div class="attribute">
        <div class="attributeHeader"> Number of Sides: {{this.polygonService.sideNumber}} </div>
        <div>
            <mat-slider class="inputFormStyle" type="range" #slider min="3" max="12"
                value={{this.polygonService.sideNumber}}
                (input)="this.polygonService.sideNumber = $event.value"
                [(ngModel)]="this.polygonService.sideNumber">
            </mat-slider>
        </div>
    </div>



    <div class="attribute">

        <div class="attributeHeader">Type</div>

        <div>
            <mat-radio-group>
                <mat-radio-button value="Bordered" (change)="radioChangeHandler($event)">Bordered
                </mat-radio-button><br>
                <mat-radio-button value="Filled" (change)="radioChangeHandler($event)">Filled
                </mat-radio-button><br>
                <mat-radio-button value="Bordered & Filled" (change)="radioChangeHandler($event)" checked>
                    Bordered & Filled</mat-radio-button><br>
            </mat-radio-group>
        </div>

    </div>

    <div *ngIf="this.polygonService.strokeEnable" class="attribute">

        <div class="attributeHeader">
            Border Size: {{this.polygonService.strokeWidth}} px <br>
        </div>


        <label>
            <br>
            <div>
                <mat-slider class="inputFormStyle" type="range" #slider min="1" max="40"
                    value={{this.polygonService.strokeWidth}}
                    (input)="this.polygonService.strokeWidth = $event.value"
                    [(ngModel)]="this.polygonService.strokeWidth" id="drawTool">
                </mat-slider>
            </div>
        </label>

    </div>

</div>