<div class="header">Rectangle</div>
<div>
    <div class="svg">
        <svg width="200" height="100">
            <rect *ngIf="this.rectangleService.strokeEnable && this.rectangleService.fillEnable" x="50" y="25"
                width="100" height="50" [style.fill]="this.colorService.getFillColor()"
                [style.stroke]="this.colorService.getStrokeColor()"
                [style.stroke-width]="this.rectangleService.strokeWidth" />

            <rect *ngIf="!this.rectangleService.strokeEnable && this.rectangleService.fillEnable" id="rectangleNoStroke"
                x="50" y="25" width="100" height="50" [style.fill]="this.colorService.getFillColor()"
                [style.stroke-width]="this.rectangleService.strokeWidth" />

            <rect *ngIf="this.rectangleService.strokeEnable && !this.rectangleService.fillEnable" id="rectangleNoFill"
                x="50" y="25" width="100" height="50" [style.stroke]="this.colorService.getStrokeColor()"
                [style.stroke-width]="this.rectangleService.strokeWidth" />
        </svg>
    </div>

    <div class="attribute">
        <div class="attributeHeader">Type</div>
        <div>

            <mat-radio-group>
                <mat-radio-button value="Bordered" (change)="radioChangeHandler($event)">Bordered
                </mat-radio-button><br>
                <mat-radio-button value="Filled" (change)="radioChangeHandler($event)">Filled
                </mat-radio-button><br>
                <mat-radio-button value="Bordered & Filled" (change)="radioChangeHandler($event)" checked>
                    Bordered & Filled</mat-radio-button><br>
            </mat-radio-group>
        </div>

    </div>

    <div *ngIf="this.rectangleService.strokeEnable" class="attribute">
        <div class="attributeHeader">
            Border Size: {{this.rectangleService.strokeWidth}} px<br>
        </div>
        <mat-slider min="1" max="40" value={{this.rectangleService.strokeWidth}}
            [(ngModel)]="this.rectangleService.strokeWidth" (input)="this.rectangleService.strokeWidth = $event.value">
        </mat-slider>
    </div>
</div>