.attributeBar {
    overflow: auto;
    background-color: rgb(48, 3, 59);
    position: fixed;
    top: 0; 
    left:5%;
    border-style:solid;
    border-width: 1px;
    border-color:black;

    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-left: 1%;

    
  }

  .singleAttribute{
    border-style:solid;
    border-style:solid;
    border-width: 2px;
    border-color:black;
    background-color: rgb(175, 170, 177);
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-left: 1%;

  }

  .header{
    font-size: 30px;
    background-color: grey;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-left: 1%;

  }

  .exit{
    position:absolute;
    bottom:0;
    right:0;    
  }