.attributeBar {
  background-color: rgb(235, 235, 235);
  position: fixed; 
  top: 0px; 
  left: 60px ;
  width: 290px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.header{
  font-size: 16px;
  background-color: rgb(250, 250, 250);
  text-align: center;
  height: 24px;
  padding-top: 5px;
  border: 1px solid lightgrey;
  border-top: none;
}

.actions {
  background-color: rgb(250, 250, 250);
  height: 45px;
  padding-top: 5px;
  border: 1px solid lightgrey;
  border-top: none;
  text-align: center;
  overflow-anchor: none;
}

.actionList {
  height: 100px;
  background-color: rgb(220, 220, 220);
  overflow-y: scroll;
  overflow-anchor: auto;
}

.mat-icon {
  font-size: 24px;
  padding: 0;
}

.mat-button {
  padding: 0px 0px 0px 0px;
  min-width: 0px;
  line-height: 0px;
  border-radius: 14px;
}

button {
  width: 40px;
  height: 40px;
}

.selected {
  width: 40px;
  height: 40px;
  background-color: rgb(220, 220, 220);
}

.attribute {
  padding-top: 2px;
  padding-bottom: 6px;
  background-color: rgb(250, 250, 250);
  margin: 5px;
  border-radius: 5px;
}

.attributeHeader{
  font-size:20px;
  margin: 5px;
  text-align: center;
}

.svg {
  width: 200px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.svgPolygon {
  width: 200px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
}

.svgGrid {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.lineStyleRound{
  stroke:rgb(0,0,0);
  stroke-linecap: round;
  fill: none;
  stroke-linejoin: round;
}

.lineStyleSquare{
  stroke:rgb(0,0,0);
  stroke-linecap: square;
  fill: none;
  stroke-linejoin: square;
}

.inputFormStyle{
  width: 83%;
}

.exit{
  position:absolute;
  top:0;
  right:0;    
}

.placeHolder{
  background-color: lightgrey;
}

.sectionHeader{
  font-size:25px;
  font-weight: 500;
}

.dynamicValue{
  color:red;
  font-weight: 20;
}

.colorPicker{
  position: absolute;
  left: 0;
  bottom:0;
  border-style:solid;
  border-style:solid;
  border-width: 1px;
  border-color:black;
  background-color: rgb(198, 195, 199);
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  margin-left: 1%;
  width: 85%;
}

.content{
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 5%;
  margin-right: 5%;
}

#rectangleNoStroke {
  stroke:rgba(0,0,0,0);
}

#rectangleNoFill {
  fill: rgba(0,0,0,0);
}

mat-radio-button {
  margin: 5px;
}

.mat-slider-horizontal {
  margin-left: 7px;
  height: 45px;
  width: calc(100% - 13px);
}

.stampbox {
  background-color: rgb(220, 220, 220);
  height: 200px;
  overflow-y: scroll;
  text-align: center;
  padding-top: 2px;
}

img {
  padding: 5px 5px 5px 5px;
  width: 30px;
  height: 30px;
}

img:hover {
  width: 35px;
  height: 35px;
  padding: 0px 5px 5px 0px;
}

.button {
  text-align: center;
}

.Arial {
  font-family: Arial;
}

.Roboto {
  font-family: Roboto;
}

.Times {
  font-family: 'Times New Roman';
}

.Courrier {
  font-family: 'Courier New';
}

.Georgia {
  font-family: Georgia;
}

.Palatino {
  font-family: Palatino;
}

.Comic {
  font-family: Comic Sans MS;
}

.Impact {
  font-family: Impact;
}

.boldButton {
  margin-right: 2px;
}

.italicButton {
  margin-left: 2px;
}

.button {
  background-color: white;
  color:black;
  width: auto;
  height: auto;
  align-items: center;
  align-content: center;
  margin: 5px;
}

.noUseButton {
  background-color: grey;
  color:white;
  pointer-events: none;
  width: auto;
  height: auto;
  align-items: center;
  align-content: center;
  margin: 5px;
}