<div class="attributeBar">

    <div [ngSwitch]="selectedTool">

        <div *ngSwitchCase="tool.rectangle">

            <div class="header">Rectangle</div>

            <div class="singleAttribute">

                <div class="sectionHeader">
                    Stroke:
                </div>

                <div>
                    <svg id="rectangleStroke" width="200" height="50">
                        <line x1="20" y1="30" x2="180" y2="30"
                        [style.stroke-width]="this.shapeService.rectangleStrokeWidth"/>
                    </svg>
                </div>

                Current Stroke Width: <b class="dynamicValue">{{this.shapeService.rectangleStrokeWidth}}</b> px<br>
                <label>
                    <br>
                    <div>
                        <input class="inputFormStyle" type="range" #slider min="1" max="25"
                            value={{this.shapeService.rectangleStrokeWidth}} [(ngModel)]="this.shapeService.rectangleStrokeWidth"
                            id="drawTool">
                    </div>
                </label>
            </div>

            <div class="singleAttribute">

                <div class="sectionHeader">
                    Fill:
                </div><br>

                <div class="attributeHeader">
                    Current fill type: <b class="dynamicValue">{{this.selectedType}}</b>
                </div><br>

                <p> Please select one of the following 3:</p>

                <div>
                    <label>
                        <input type="radio" name="rectangleType" value="Bordered" (change)="radioChangeHandler($event)">
                        Bordered
                    </label><br>
                    <label>
                        <input type="radio" name="rectangleType" value="Filled" (change)="radioChangeHandler($event)">
                        Filled
                    </label><br>
                    <label>
                        <input type="radio" name="rectangleType" value="Bordered & Filled"
                            (change)="radioChangeHandler($event)" checked>
                        Bordered & Filled
                    </label>
                </div><br>

            </div>

        </div>

        <div *ngSwitchCase="tool.brush">

                <div class="header">Brush</div>

                    <div class="singleAttribute">

                        <div class="sectionHeader">Stroke:</div>

                        <div>
                            <svg id="lineStyleRound" width="200" height="50" >
                                <line x1="20" y1="30" x2="180" y2="30"
                                [style.stroke-width]="this.shapeService.brushStrokeWidth"/>
                            </svg>
                        </div>

                    Current Stroke Width: <b class="dynamicValue">{{this.shapeService.brushStrokeWidth}}</b> px
                    <br>

                    <label>

                        <br>
                        <div>
                            <input class="inputFormStyle" type="range" #slider min="1" max="25"
                                value={{this.shapeService.brushStrokeWidth}} [(ngModel)]="this.shapeService.brushStrokeWidth"
                                id="drawTool">
                        </div>

                    </label>

                </div>
                <div class="singleAttribute">
                    <div class="sectionHeader">
                        Texture
                    </div>
                    <div>
                        <label>
                            <br>
                            Style: 
                            <mat-form-field>
                                    <mat-select [(ngModel)]="this.shapeService.brushStyle">
                                        <mat-option [value]="this.brush.chalk">{{this.brush.chalk}}</mat-option>
                                        <mat-option [value]="this.brush.smear">{{this.brush.smear}}</mat-option>
                                        <mat-option [value]="this.brush.rough">{{this.brush.rough}}</mat-option>
                                        <mat-option [value]="this.brush.smooth">{{this.brush.smooth}}</mat-option>
                                        <mat-option [value]="this.brush.bubbly">{{this.brush.bubbly}}</mat-option>
                                    </mat-select>
                            </mat-form-field>
                        </label>
                    </div>
                </div>
            </div>

            <div *ngSwitchCase="tool.pen">

                <div class="header">Pen</div>

                <div class="singleAttribute">

                    <div class="sectionHeader">Stroke:</div>
                    
                    <div>
                        <svg id="lineStyleRound" width="200" height="50">
                            <line x1="20" y1="30" x2="180" y2="30"
                            [style.stroke-width]="this.shapeService.penStrokeWidth"/>
                        </svg>
                        </div>

                    Current Stroke Width: <b class="dynamicValue">{{this.shapeService.penStrokeWidth}}</b>
                    px
                    <br>

                    <label>
                        <br>
                        <div>
                            <input class="inputFormStyle" type="range" #slider min="1" max="25"
                                value={{this.shapeService.penStrokeWidth}} [(ngModel)]="this.shapeService.penStrokeWidth"
                                id="drawTool">
                        </div>
                    </label>

                </div>

            </div>

            <div *ngSwitchCase="tool.colorApplicator">

                <div class="header">Color Applicator</div>

                <div class="singleAttribute">

                    <div>
                        Change the color of any drawn object with the primary color selected
                    </div>
                    <br>

                </div>
                <br>

            </div>

    </div>
    <div *ngIf="this.colorService.getShowInAttributeBar()">
        <app-color-picker></app-color-picker>
    </div>

</div>