<div class="attributeBar">
    <div [ngSwitch]="selectedTool">

        <div *ngSwitchCase="tool.rectangle">

            <div class="header">Rectangle</div>
            <div>
                <div class="svg">
                    <svg width="200" height="100">
                        <rect *ngIf="this.rectangleService.strokeEnable && this.rectangleService.fillEnable" x="50"
                            y="25" width="100" height="50" [style.fill]="this.colorService.getFillColor()"
                            [style.stroke]="this.colorService.getStrokeColor()"
                            [style.stroke-width]="this.rectangleService.strokeWidth" />                   

                        <rect *ngIf="!this.rectangleService.strokeEnable && this.rectangleService.fillEnable"
                            id="rectangleNoStroke" x="50" y="25" width="100" height="50"
                            [style.fill]="this.colorService.getFillColor()"
                            [style.stroke-width]="this.rectangleService.strokeWidth" />

                        <rect *ngIf="this.rectangleService.strokeEnable && !this.rectangleService.fillEnable"
                            id="rectangleNoFill" x="50" y="25" width="100" height="50"
                            [style.stroke]="this.colorService.getStrokeColor()"
                            [style.stroke-width]="this.rectangleService.strokeWidth" />
                    </svg>
                </div>

                <div class="attribute">
                    <div class="attributeHeader">Type</div>
                    <div>
                        
                        <mat-radio-group>
                            <mat-radio-button value="Bordered" (change)="radioChangeHandler($event)">Bordered
                            </mat-radio-button><br>
                            <mat-radio-button value="Filled" (change)="radioChangeHandler($event)">Filled
                            </mat-radio-button><br>
                            <mat-radio-button value="Bordered & Filled" (change)="radioChangeHandler($event)" checked>
                                Bordered & Filled</mat-radio-button><br>
                        </mat-radio-group>
                    </div>

                </div>

                <div class="attribute">
                    <div class="attributeHeader">
                        Border Width<br>
                        {{this.rectangleService.strokeWidth}} px
                    </div>
                    <mat-slider min="1" max="40" value={{this.rectangleService.strokeWidth}}
                        [(ngModel)]="this.rectangleService.strokeWidth"
                        (input)="this.rectangleService.strokeWidth = $event.value">
                    </mat-slider>
                </div>
            </div>
        </div>

            <div class="singleAttribute">
        <div *ngSwitchCase="tool.ellipse">

            <div class="header">Ellipse</div>
    
                <div>
                    <div class="svg">
                        <svg width="200" height="100">
                            <ellipse *ngIf="this.ellipseService.strokeEnable && this.ellipseService.fillEnable" cx="100"
                                cy="50" rx="75" ry="40" [style.fill]="this.colorService.getFillColor()"
                                [style.stroke]="this.colorService.getStrokeColor()"
                                [style.stroke-width]="this.ellipseService.strokeWidth" />
    
                            <ellipse *ngIf="!this.ellipseService.strokeEnable && this.ellipseService.fillEnable"
                                id="rectangleNoStroke" cx="100" cy="50" rx="75" ry="40"
                                [style.fill]="this.colorService.getFillColor()"
                                [style.stroke-width]="this.ellipseService.strokeWidth" />
    
                            <ellipse *ngIf="this.ellipseService.strokeEnable && !this.ellipseService.fillEnable"
                                id="rectangleNoFill" cx="100" cy="50" rx="75" ry="40"
                                [style.stroke]="this.colorService.getStrokeColor()"
                                [style.stroke-width]="this.ellipseService.strokeWidth" />
                        </svg>
                    </div>
    
                    <div class="attribute">
    
                        <div class="attributeHeader">Type</div>
    
                        <div>
                            <mat-radio-group>
                                <mat-radio-button value="Bordered" (change)="radioChangeHandler($event)">Bordered
                                </mat-radio-button><br>
                                <mat-radio-button value="Filled" (change)="radioChangeHandler($event)">Filled
                                </mat-radio-button><br>
                                <mat-radio-button value="Bordered & Filled" (change)="radioChangeHandler($event)" checked>
                                    Bordered & Filled</mat-radio-button><br>
                            </mat-radio-group>
                        </div>
    
                    </div>
    
                    <div class="attribute">
                        <div class="attributeHeader">
                            Border Width<br>
                            {{this.rectangleService.strokeWidth}} px
                        </div>
                        <mat-slider min="1" max="40" value={{this.ellipseService.strokeWidth}}
                            [(ngModel)]="this.ellipseService.strokeWidth"
                            (input)="this.ellipseService.strokeWidth = $event.value">
                        </mat-slider>
                    </div>
                </div>
            </div>

                    <div *ngSwitchCase="tool.polygon">
            <div class="header">Polygon</div>
            <div class="singleAttribute">

                    <div class="sectionHeader">
                        Stroke:
                    </div>
    
                    <div>
                        <svg width="200" height="100">
                            <polygon *ngIf="this.polygonService.strokeEnable && this.polygonService.fillEnable"
                            points="60,20 100,40 100,80 60,100 20,80 20,40"
                            [style.fill]="this.colorService.getFillColor()"
                            [style.stroke]="this.colorService.getStrokeColor()"
                            [style.stroke-width]="this.polygonService.strokeWidth"/>
    
                            <polygon *ngIf="!this.polygonService.strokeEnable && this.polygonService.fillEnable"
                            id="rectangleNoStroke"
                            points="60,20 100,40 100,80 60,100 20,80 20,40"
                            [style.fill]="this.colorService.getFillColor()"
                            [style.stroke-width]="this.polygonService.strokeWidth"/>
    
                            <polygon *ngIf="this.polygonService.strokeEnable && !this.polygonService.fillEnable"
                            id="rectangleNoFill"
                            points="60,20 100,40 100,80 60,100 20,80 20,40"
                            [style.stroke]="this.colorService.getStrokeColor()"
                            [style.stroke-width]="this.polygonService.strokeWidth"/>
                        </svg>
                    </div>
    
                    Current Stroke Width: <b class="dynamicValue">{{this.polygonService.strokeWidth}}</b> px<br>
                    <label>
                        <br>
                        <div>
                            <input class="inputFormStyle" type="range" #slider min="1" max="25"
                                value={{this.polygonService.strokeWidth}} [(ngModel)]="this.polygonService.strokeWidth"
                                id="drawTool">
                        </div>
                    </label>
                </div>
    
    
                
    
                <div class="attribute">
    
                        <div class="attributeHeader">Type</div>
    
                        <div>
                            <mat-radio-group>
                                <mat-radio-button value="Bordered" (change)="radioChangeHandler($event)">Bordered
                                </mat-radio-button><br>
                                <mat-radio-button value="Filled" (change)="radioChangeHandler($event)">Filled
                                </mat-radio-button><br>
                                <mat-radio-button value="Bordered & Filled" (change)="radioChangeHandler($event)" checked>
                                    Bordered & Filled</mat-radio-button><br>
                            </mat-radio-group>
                        </div>
    
                    </div>

            
            <div>
                Number of Sides 
                    <input class="inputFormStyle" type="range" #slider min="3" max="12"
                        value={{this.polygonService.sideNumber}} [(ngModel)]="this.polygonService.sideNumber">
                        <span>{{this.polygonService.sideNumber}}</span>
                </div>

        </div>

        <div *ngSwitchCase="tool.brush">

            <div class="header">Brush</div>
            <div class="svg">
                <svg class="lineStyleRound" width="200" height="100" baseProfile="full" version="1.1">
                    <filter id="chalk" x="-15px" y="-15px" height="40px" width="50px">
                        <feTurbulence type="turbulence" baseFrequency="0.08" numOctaves="2" result="turbulence"/>
                        <feDisplacementMap in2="turbulence" in="SourceGraphic" scale="24" xChannelSelector="R" yChannelSelector="G"/>
                    </filter>
                    <filter id="smear" x="-15px" y="-15px" height="40px" width="50px">
                        <feTurbulence type="fractalNoise" numOctaves="3" baseFrequency="0.25 0.4" seed="5"/>
                        <feComposite in="SourceGraphic" operator="in" in2="result5"/>
                        <feMorphology operator="dilate" radius="1.5" result="result3"/>
                        <feTurbulence numOctaves="5" baseFrequency="0.03" type="fractalNoise" seed="7"/>
                        <feDisplacementMap in="result3" xChannelSelector="R" yChannelSelector="G" scale="27" result="result4" in2="result91"/>
                    </filter>
            
                    <filter id="rough" x="-15px" y="-15px" height="40px" width="50px">
                        <feTurbulence type="turbulence" baseFrequency="0.1" numOctaves="2" result="turbulence"/>
                        <feDisplacementMap in2="turbulence" in="SourceGraphic" scale="8" xChannelSelector="R" yChannelSelector="G"/>
                        <feGaussianBlur stdDeviation="0.8" />
                    </filter>
            
                    <filter id="smooth" x="-15px" y="-15px" height="40px" width="50px">
                        <feGaussianBlur result="result6" stdDeviation="3.5 7.1" in="SourceGraphic"/>
                        <feColorMatrix values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 " result="result7" in="SourceGraphic" id="feColorMatrix226"/>
                        <feComposite operator="in" in="result6" in2="result7"/>
                    </filter>
            
                    <filter id="bubbly" x="-15px" y="-25px" height="40px" width="50px">
                        <feTurbulence baseFrequency="0.058 0.932" type="fractalNoise" seed="667" numOctaves="1" result="result1" stdDeviation="0.01 5.15"/>
                        <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="20" in="SourceGraphic" in2="result1" result="fbSourceGraphic"/>
                    </filter>

                    <path d="M20 70 L50 40 L70 30 L90 35 L140 72 L150 70 L180 40" [style.stroke]="this.colorService.getFillColor()"
                        [style.stroke-width]="this.brushService.brushStrokeWidth" [attr.filter]="this.brushService.filter" />
                </svg>
            </div>

            <div class="attribute">

                <div class="attributeHeader">Type</div>
                <div>
                    <mat-radio-group>
                        <mat-radio-button [value]="this.brush.chalk" (change)="brushRadioChangeHandler($event)">
                            {{this.brush.chalk}}</mat-radio-button><br>
                        <mat-radio-button [value]="this.brush.smear" (change)="brushRadioChangeHandler($event)">
                            {{this.brush.smear}}</mat-radio-button><br>
                        <mat-radio-button [value]="this.brush.rough" (change)="brushRadioChangeHandler($event)">
                            {{this.brush.rough}}</mat-radio-button><br>
                        <mat-radio-button [value]="this.brush.smooth" (change)="brushRadioChangeHandler($event)"
                            checked>{{this.brush.smooth}}</mat-radio-button><br>
                        <mat-radio-button [value]="this.brush.bubbly" (change)="brushRadioChangeHandler($event)">
                            {{this.brush.bubbly}}</mat-radio-button><br>
                    </mat-radio-group>
                </div>



            </div>

            <div class="attribute">
                <div class="attributeHeader">
                    Size<br>
                    {{this.brushService.brushStrokeWidth}} px
                </div>

                <div>
                    <mat-slider min="1" max="40" value={{this.brushService.brushStrokeWidth}}
                        [(ngModel)]="this.brushService.brushStrokeWidth"
                        (input)="this.brushService.brushStrokeWidth = $event.value">
                    </mat-slider>
                </div>
            </div>
        </div>

        <div *ngSwitchCase="tool.pen">

            <div class="header">Pen</div>

            <div>

                <div class="svg">
                    <svg class="lineStyleRound" width="200" height="100">
                        <line x1="20" y1="50" x2="180" y2="50" [style.stroke]="this.colorService.getFillColor()"
                            [style.stroke-width]="this.penService.strokeWidth" />
                    </svg>
                </div>

                <div class="attribute">
                    <div class="attributeHeader">
                        Size<br>
                        {{this.penService.strokeWidth}} px
                    </div>

                    <div>
                        <mat-slider min="1" max="40" value={{this.penService.strokeWidth}}
                            [(ngModel)]="this.penService.strokeWidth"
                            (input)="this.penService.strokeWidth = $event.value">
                        </mat-slider>
                    </div>
                </div>

            </div>

        </div>

        <div *ngSwitchCase="tool.colorApplicator">

            <div class="header">Color Applicator</div>

            <div class="attribute">

                <div class="attributeHeader">New Fill Color</div>

                <div class="svg">
                    <svg width="200" height="100">
                        <rect x="3" y="3" width="194" height="84" rx="5" ry="5" [style.fill]="this.colorService.getFillColor()"/>
                    </svg>
                </div>

            </div>

            <div class="attribute">

                    <div class="attributeHeader">New Border Color</div>
    
                    <div class="svg">
                        <svg width="200" height="100">
                            <rect x="3" y="3" width="194" height="84" rx="5" ry="5" [style.fill]="this.colorService.getStrokeColor()"/>
                        </svg>
                    </div>
    
                </div>

        </div>
        <div *ngSwitchCase="tool.grid">

            <div class="header">Grid</div>

            <div>

                <div class="gridPreview">
                    <svg width="210" height="210">
                        <rect [attr.x] = 5 [attr.y] = 5 [attr.width]="this.gridService.gridRectangleDimension" [attr.height]="this.gridService.gridRectangleDimension" style="fill:white;stroke-width:3;stroke:red" />
                    </svg>                    
                </div>

                <div class="attribute">
                    <div class="attributeHeader">
                        Grid size<br>
                        <div>
                            {{this.gridService.gridSize}}
                        </div>
                    </div>
                    <div class = "button">
                        <button mat-button (click)="this.hideGrid()">Hide Grid</button>
                    
                       
            <div>
                  
                        <input class="inputFormStyle" type="range" #slider min="40" max="200"
                            value="40" [(ngModel)]="this.gridService.gridSize">
                            <span>{{this.gridService.gridSize}}</span>
                    </div>
                    <button mat-button (click)="this.showGrid()">Apply Grid</button>
                    </div>
                </div>
                <div class="attribute">
                        <div class="attributeHeader">
                                Opacity<br>
                                <div>
                                        {{this.gridService.opacity}} %
                                </div>
                        </div>
                        <div class = "button">
                            <mat-slider min="25" max="100" value={{this.gridService.opacity}}
                                        [(ngModel)]="this.gridService.opacity"
                                        (input)="this.gridService.opacity = $event.value">
                            </mat-slider>
                        </div>
                </div>
            </div>

        </div>

        <div *ngSwitchCase="tool.stamp">
            <div class="header">Stamp</div>
            <div class="svg">
                <svg width="200" height="100">
                    <image [attr.xlink:href]="stampService.selectedStamp"
                           [attr.x]="100 - stampService.size / 2"
                           [attr.y]="50 - stampService.size / 2"
                           [attr.height]="stampService.size"
                           [attr.width]="stampService.size"
                           [attr.transform]="'rotate(' + inputService.stampAngle + ' 100 50)'" />
                </svg>
            </div>
            <div class="attribute">
                <div class="attributeHeader">Emojis</div>
                <div class="stampbox">
                    <span *ngFor="let stamp of stampService.stamps; index as i">
                        <img [attr.src]="stamp" (click)="stampService.selectStamp(stamp, i)">
                    </span>
                </div>
            </div>
            <div class="attribute">
                <div class="attributeHeader">
                    Size<br>
                    {{stampService.size}} px
                </div>

                <div>
                    <mat-slider min="1" max="100" value={{stampService.size}}
                        [(ngModel)]="stampService.size"
                        (input)="stampService.size = $event.value">
                    </mat-slider>
                </div>
            </div>
            <div class="attribute">
                <div class="attributeHeader">
                    Angle<br>
                    {{inputService.stampAngle}}°
                </div>

                <div>
                    <mat-slider min="0" max="360" value={{inputService.stampAngle}}
                        [(ngModel)]="inputService.stampAngle"
                        (input)="inputService.stampAngle = $event.value">
                    </mat-slider>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="this.colorService.getShowInAttributeBar()">
        <app-color-picker></app-color-picker>

    </div>
    
</div>
