.attributeBar {
  background-color: lightgrey;
  position: fixed; 
  top: 0; 
  left:4% ;
  width: 25%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.singleAttribute{
  border-style:solid;
  border-style:solid;
  border-width: 1px;
  border-color:black;
  background-color: rgb(198, 195, 199);
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  margin-left: 1%;
  left:0;
  width: 85%;
}

.header{
  font-size: 30px;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  margin-left: 1%;
}

.exit{
  position:absolute;
  top:0;
  right:0;    
}

.placeHolder{
  background-color: lightgrey;
}

.attributeHeader{
  font-size:20px;
}

.sectionHeader{
  font-size:25px;
  font-weight: 500;
}

.dynamicValue{
  color:red;
  font-weight: 20;
}

.colorPicker{
  position: absolute;
  left: 0;
  bottom:0;
  border-style:solid;
  border-style:solid;
  border-width: 1px;
  border-color:black;
  background-color: rgb(198, 195, 199);
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  margin-left: 1%;
  width: 85%;
}

.content{
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 5%;
  margin-right: 5%;
}

