<form>
        <h4>Export file</h4>
        <mat-form-field>
          <mat-label>Export format</mat-label>
          <mat-select [(ngModel)]="selectedFormat" name="format">
            <mat-option *ngFor="let format of formats" [value]="format">
              {{format}}
            </mat-option>
          </mat-select>
        </mat-form-field>
</form>


<button *ngIf="selectedFormat === 'svg' " mat-button><a [href]="fileUrl" download="file.svg">download</a></button>

<button *ngIf="!(selectedFormat === 'svg') " mat-button (click)='click()'>download</button>
<button mat-button [mat-dialog-close]="true">close</button>


