.top {
    text-align: center;
}

.chips {
    width: 100%;
}

.submit {
    margin:auto;
    display:block;
    text-align:center;
}

.search {
    margin-left: 5px;
}

.drawing {
    border: 1px solid black;
    height : 300px;
    overflow-y: scroll;
}

.cancelButton {
    background-color: rgb(230, 230, 230);
}

.data {
    height: 400px;
    width: 820px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(230, 230, 230);
    margin-bottom: 5px;
    padding-bottom: 2px;
}

.drawing {
    border-radius: 5px;
    border: none;
    width: 198px;
    height: 198px;
    padding: 0px 0px 0px 0px;
    margin: 2px 0px 0px 2px;
    text-align: center;
    overflow: hidden;
    background-color: white;
}

.drawing:hover {
    background-color: rgb(245, 245, 245);
    border: 1px grey;
    width: 198px;
    height: 198px;
    padding: 0px 0px 0px 0px;
    margin: 2px 0px 0px 2px;
    overflow: hidden;
}

img {
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

mat-icon {
    cursor: pointer;
}
