<h1>Choose tags to filter drawings: </h1>
  <p>Enter tag name:</p>
  <input name="test" value ={{this.tag}} matInput [(ngModel)]="tag" >
  <button (click) = "addTagToFilter()">Add current tag</button>

<br>
<div *ngFor = " let data of displayedData; let i = index">
  <div  matTooltip="Click me to confirm" id="drawing" (click)="this.selectDrawing(i)">
    {{data.name}}
    {{data.tags}}
    <img [attr.src]="data.thumbnail | safeUrl" width="50" height="50">
  </div>
</div>
<div class="cancel">
    <button type="cancel" mat-button (click)="closeModalWindow()" cdkFocusInitial>cancel</button>
</div>
