.modalWindow{
    overflow-x: hidden;
    overflow-y: auto;
}

.field {
    overflow-x: hidden;  
}

.submit {
    margin:auto;
    display:block;
    text-align:center;
}

.cancel {
     margin:auto;
     display:block;
    text-align:center;
}

.drawing {
    border: 1px solid black;
    height : 300px;
    overflow-y: scroll;
}

img {
    border: 1px solid black;
}