<div class="header">Selector</div>
<div class="attribute">
    <div class="attributeHeader">Clipboard utilities</div><br>
        <div>
            <button mat-raised-button [ngClass]="{'noUseButton': !this.clipboardService.findSelected(), 'button': this.clipboardService.findSelected()}" (click) = "this.clipboardService.controlC()">Copy</button>
            <button mat-raised-button [ngClass]="{'noUseButton': !this.clipboardService.findSelected(), 'button': this.clipboardService.findSelected()}" (click) = "this.clipboardService.controlX()">Cut</button>
            <button mat-raised-button [ngClass]="{'noUseButton': !this.clipboardService.clipboardEmpty(), 'button': this.clipboardService.clipboardEmpty()}" (click) = "this.clipboardService.controlV()">Paste</button><br>
            <button mat-raised-button [ngClass]="{'noUseButton': !this.clipboardService.findSelected(), 'button': this.clipboardService.findSelected()}" (click) = "this.clipboardService.controlD()">Duplicate</button>
            <button mat-raised-button [ngClass]="{'noUseButton': !this.clipboardService.findSelected(), 'button':this.clipboardService.findSelected()}" (click) = "this.clipboardService.delete()">Delete</button><br>
            <button mat-raised-button class='button' (click) = "this.clipboardService.controlA()">Select all items</button>
        </div>
</div>

