<div class = "modalWindow">
<form (ngSubmit)="submitParameters(canvasWidth, canvasHeight)" [formGroup]="form">
    
<h1 mat-dialog-title>Choose canvas parameters: </h1>
<div mat-dialog-content>


    <p>Enter canvas width</p>
    <div class="field"> 
    <div class="control">
    <mat-form-field>
      <input name="test" type = "canvasWidth"  formControlName="canvaswidth" value ={{this.canvasWidth}} matInput [(ngModel)]="canvasWidth" >
      <mat-error>Enter numbers greater than zero</mat-error>
    </mat-form-field>
   </div>
  </div> 
     <p>Enter canvas height</p>
  <div class="field">
   <div class="control">
 <mat-form-field>
      <input type = "canvasHeight"  formControlName="canvasheight" value ={{this.canvasHeight}} matInput [(ngModel)]="canvasHeight">
       <mat-error>Enter numbers greater than zero</mat-error>
   </mat-form-field>
  </div>
  <app-color-picker></app-color-picker>
   </div>
</div>


<div class ="submit"  mat-dialog-actions>
    <button mat-flat-button type="submit" cdkFocusInitial color="primary" >submit</button> 
</div> 
</form>
<div class="cancel">
<button type="cancel" mat-stroked-button (click)="closeModalWindow()" cdkFocusInitial>cancel</button>
</div>
</div>
