<div class = "modalWindow">
<form [formGroup]="form">
<h1 mat-dialog-title>Choose canvas parameters: </h1>

<div mat-dialog-content>
   
    <p>Enter canvas width</p>
    <div class="field">
    <div class="control"> 
    <mat-form-field>
      <input type = "canvasWidth" min="0" formControlName = "canvaswidth" value ={{this.canvasWidth}} matInput [(ngModel)]="canvasWidth" > 
      <mat-error>Enter numbers greater than zero</mat-error> 
    </mat-form-field>
   </div>
    </div> 
     <p>Enter canvas height</p>
  <div class="field">
    <div class="control"> 
 <mat-form-field>
      <input type = "canvasHeight" min="0" formControlName = "canvasheight" value ={{this.canvasHeight}} matInput [(ngModel)]="canvasHeight">
       <mat-error>Enter numbers greater than zero</mat-error> 
    </mat-form-field>
   </div>
   <app-color-picker></app-color-picker>
    </div>

   
</div>

<div mat-dialog-actions>
    <button mat-button (click)="submitParameters(canvasWidth, canvasHeight) ; this.close()" cdkFocusInitial>submit</button>   
    <button mat-button (click)="close()" [mat-dialog-close]="canvasWidth" cdkFocusInitial>cancel</button> 
</div>
</form>

</div>