.modalWindow{
    overflow-x: hidden;
    overflow-y: auto;
    width: 300px;
}

.field {
    overflow-x: hidden;  
}



.submit {
    margin:auto;
    display:block;
    text-align:center;
    }

.cancel {
     margin:auto;
     display:block;
    text-align:center;
        }