<mat-toolbar class= "sidebar">
        <button mat-button class ="i"><mat-icon>crop_square</mat-icon></button>
        <button mat-button class ="j"><mat-icon>radio_button_unchecked</mat-icon></button>
        <button mat-button class ="k"><mat-icon>brush</mat-icon></button>
        <button mat-button class ="l"><mat-icon>color_lens</mat-icon></button>
        <button mat-button class ="m"><mat-icon>colorize</mat-icon></button>
        <button mat-button class ="n"><mat-icon>add</mat-icon></button>
</mat-toolbar>
