
    <div class="toolScroll">
            <button matTooltip="Rectangle" mat-button (click)="selectTool('rectangle')" [class.selected]="this.selectedTool === 'rectangle'"><mat-icon>crop_square</mat-icon></button>
            <button matTooltip="Ellipse" mat-button (click)="selectTool('ellipse')" [class.selected]="this.selectedTool === 'ellipse'"><mat-icon>panorama_fish_eye</mat-icon></button>
            <button matTooltip="Polygon" mat-button (click)="selectTool('polygon')"  class ="polygon_icon"><mat-icon>layers</mat-icon></button>
            <button matTooltip="Stamp" mat-button (click)="selectTool('stamp')" [class.selected]="this.selectedTool === 'stamp'"><mat-icon>mood</mat-icon></button>
            <button matTooltip="Brush" mat-button (click)="selectTool('brush')" [class.selected]="this.selectedTool === 'brush'"><mat-icon>brush</mat-icon></button>
            <button matTooltip="Pencil" mat-button (click)="selectTool('pencil')" [class.selected]="this.selectedTool === 'pencil'"><img width='22' height='22' src="../../../assets/cursors/pencil.svg"></button>
            <button matTooltip="Pen" mat-button (click)="selectTool('pen')" [class.selected]="this.selectedTool === 'pen'"><mat-icon>create</mat-icon></button>
            <button matTooltip="Line" mat-button (click)="selectTool('line')" [class.selected]="this.selectedTool === 'line'"><mat-icon>line_style</mat-icon></button>
            <button matTooltip="Grid" mat-button (click)="selectTool('grid')" [class.selected]="this.selectedTool === 'grid'"><mat-icon>grid_on</mat-icon></button>
            <button matTooltip="Text" mat-button (click)="selectTool('text')" [class.selected]="this.selectedTool === 'text'"><mat-icon>text_fields</mat-icon></button>
            <button matTooltip="Eraser" mat-button (click)="selectTool('eraser')" [class.selected]="this.selectedTool === 'eraser'"><img width='25' height='25' src="../../../assets/cursors/eraser.svg"></button>
            <button matTooltip="Color Applicator" mat-button (click)="selectTool('colorApplicator')" [class.selected]="this.selectedTool === 'colorApplicator'"><img src="../../../assets/cursors/colorApplicator.svg" width="30" height="30"></button>
            <button matTooltip="Color Pipette" mat-button (click)="selectTool('pipette')" [class.selected]="this.selectedTool === 'pipette'"><mat-icon>colorize</mat-icon></button>
            <button matTooltip="Selector" mat-button (click)="selectTool('selector')" [class.selected]="this.selectedTool === 'selector'"><mat-icon>crop_free</mat-icon></button>
</div>
<div class="toolFixed">
        <button matTooltip="New File" mat-button (click)="createNewFile()" class ="bottom"><mat-icon>add</mat-icon></button>
        <button matTooltip="Load Drawing from server" mat-button (click)="accessServer()" class ="save_icon"><mat-icon>cloud_download</mat-icon></button>
        <button matTooltip="Save Drawing to server" mat-button (click)="saveOnServer()" class ="new_file_icon"><mat-icon>cloud_upload</mat-icon></button>
        <button matTooltip="Load Drawing from local" mat-button (click)="upload()" class ="save_icon"><mat-icon>folder_open</mat-icon></button>
        <button matTooltip="Save Drawing to local" mat-button (click)="localSave()" class ="save_alt"><mat-icon>save_alt</mat-icon></button>
        <button matTooltip="Export Drawing to local" mat-button (click)="export()" class ="export_icon"><mat-icon>filter</mat-icon></button>
        <button matTooltip="Help" mat-button class="bottom"><mat-icon><a href="assets/userGuide.pdf" target="_blank">help_outline</a></mat-icon></button>
</div>



<app-attribute-bar [selectedTool]="selectedTool"></app-attribute-bar>
<app-drawing-space [selectedTool]="selectedTool"
                   [selectedShape]="selectedShape"></app-drawing-space>
