.sidebar {
    overflow: hidden;
    background-color: rgb(121, 4, 105);
    position: fixed; 
    top: 0; 
    width: 3%;
    height: 100%;
 }
 .i {
    position: absolute;
    top : 0;
    right: 3%;
 }

 .j {
    position: absolute;
    top : 5%;
    right: 3%;
 }
 .k {
    position: absolute;
    top : 10%;
    right: 3%;
 }
 .l {
    position: absolute;
    top : 15%;
    right: 3%;
 }
 .m {
    position: absolute;
    top : 20%;
    right: 3%;
 }

 .n {
    position: absolute;
    bottom : 7%;
    right: 3%;
    
    
 }