a, a:visited, a:hover, a:focus, a:hover, a:active {
   text-decoration: none; color:black;
}
p {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 3px;
    font-size: 16px;
}
#toolTitle {
    background-color: rgb(250, 250, 250);
    width: 60px;
    height : 29px;
    margin: 0;
    left: 0;
    top: 0;
    position: absolute;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    padding-left: 3px;
}

.toolScroll {
    background-color: rgb(250, 250, 250);
    margin: 0%;
    position: absolute; 
    left: 0;
    width: 60px;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    top: 30px;
    height: calc(100% - 111px);
    overflow-y: scroll;
    padding-left: 3px;
}

.toolFixed {
    background-color: rgb(250, 250, 250);
    margin: 0%;
    position: absolute; 
    left: 0;
    width: 60px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    bottom: 0%;
    height: 80px;
    border-top: 1px solid lightgrey;
    padding-left: 3px;
}

.selected {
    width: 40px;
    height: 40px;
    background-color: rgb(220, 220, 220);
}

.bottom {
    width: 50px;
    height: 40px;
}

.mat-icon {
    font-size: 24px;
    padding: 0;
}

.mat-button {
    padding: 0px 0px 0px 0px;
    min-width: 0px;
    line-height: 0px;
    border-radius: 14px;
}

.help {
    border: 2px;
    width: 40px;
    height: 40px;
}

button {
    width: 40px;
    height: 40px;
}
 