.sidebar {
    overflow: hidden;
    background-color: rgb(121, 4, 105);
    position: fixed; 
    top: 0; 
    width: 4%;
    height: 100%;
 }
 .square_icon {
    position: absolute;
    top : 0;
    right: 3%;
 }

 .circle_icon {
    position: absolute;
    top : 5%;
    right: 3%;
 }
 .brush_icon {
    position: absolute;
    top : 10%;
    right: 3%;
 }
 .color_pallette_icon {
    position: absolute;
    top : 15%;
    right: 3%;
 }
 .color_applicator_icon {
    position: absolute;
    top : 20%;
    right: 3%;
 }

 .new_file_icon {
    position: absolute;
    bottom : 7%;
    right: 3%; 
 }
 .delete{
   position: absolute;
    bottom : 14%;
    right: 3%; 

 }
 